<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bicycles_servlet</display-name>
  <servlet>
    <description></description>
    <display-name>BicycleController</display-name>
    <servlet-name>BicycleController</servlet-name>
    <servlet-class>ua.scarick.bicycles.controller.BicycleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BicycleController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditController</display-name>
    <servlet-name>EditController</servlet-name>
    <servlet-class>ua.scarick.bicycles.controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditController</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>ua.scarick.bicycles.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>