<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bicycles_servlet</display-name>
  <servlet>
    <description></description>
    <display-name>BicycleServlet</display-name>
    <servlet-name>BicycleServlet</servlet-name>
    <servlet-class>ua.scarick.bicycles.servlet.BicycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BicycleServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Bicycle controller</description>
    <display-name>BicycleController</display-name>
    <servlet-name>BicycleController</servlet-name>
    <servlet-class>ua.scarick.bicycles.controller.BicycleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BicycleController</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>ua.scarick.bicycles.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>